<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yan.study.websocket.mychat.mapper.MyChatMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yan.study.websocket.mychat.entity.MyChatMsg">
        <id column="id" property="id" />
        <result column="sender_id" property="senderId" />
        <result column="sender_nick_name" property="senderNickName" />
        <result column="receiver_id" property="receiverId" />
        <result column="receiver_nick_name" property="receiverNickName" />
        <result column="msg_info" property="msgInfo" />
        <result column="send_time" property="sendTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sender_id, sender_nick_name, receiver_id, receiver_nick_name, msg_info, send_time
    </sql>

</mapper>
